/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #333;
}
/* HEADER */ 
/* WITHOUT JS */
/* .header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: white;
    z-index: 99;
} */

.javascript-example {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: white;
    z-index: 99;
}

.js-background {
    background:#1DB954 !important;
}
.javascript-example img {
    max-height: 7vh;
    margin: 1vh 0 1vh 10vh;

}
.javascript-example nav {
    margin: 0 10vh 0 0;
}
.javascript-example nav a {
    margin: 0 3vh 0 3vh;
}
/* HERO */
.hero {
    background-image: url("/images/landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes fade-in {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
.hero h1 {
    color: white;
    font-weight: 500;
    font-size: 5vw;
    margin-bottom: 3vh;
    animation-name: fade-in;
    animation-duration: 2s;
}

.hero-description {
    color: white;
    font-weight: 100;
    font-size: 1.3vw;
    text-align: center;
    animation-name: fade-in;
    animation-duration: 2s;
}
/* INFO */
.info {
    display: flex;
    flex-direction: column;
}
.info h2 {
    font-weight: 500;
    font-size: 3.4vh;
    text-align: center;
    margin: 2.5vh 0 1vh 0;
}
.items-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30vh;
}
.item:nth-child(2){
    margin: 0 2vh 0 2vh;
}
.item > img {
    margin: 2vh 0 0 0;
    width: 10vh;
    height: 10vh;
}
.item h5 {
    margin: 2vh 0 2vh 0;
    color: #1DB954;
    font-size: 2.8vh;
}
.item p {
    padding: 0 1vh 0 1vh;
    margin: 0 0 3vh 0;
    font-weight: 100;
    font-size: 2vh;
}
/* FOOTER */
.footer {
    background: rgb(29, 185, 84);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer-item {
    width: 50vh;
}
.footer-nav h2 {
    font-size: 3vh;
    font-weight: 400;
}
.footer-nav h5 {
    font-size: 3vh;
    margin: 3vh 0 3vh 0;
}
.footer-nav hr {
    height: 0.3vh;
    background-color: white;
    border: none;
    margin: 3vh 0 0 0;
}
.footer-nav p {
    font-size: 2vh;
    font-weight: 300;
}
.footer-logo {
    margin: 0 5vh 0 5vh;
    width: 20vh;
    height: 20vh;
}
.footer-app-img {
    max-width: 45vh;
    margin: 4vh 0 4vh 0;
}


@media (max-width: 991.98px) {
    /* ITEMS */
    .items-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .item img {
        width: 20vh;
        height: 20vh;
    }
    /* FOOTER */
    .footer {
        background: #1DB954;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .footer-nav h2 {
        margin: 3vh 0 0 0;
    }
    .footer-logo {
        margin: 5vh 0 3vh 0;
    }
}